html{
    font-family: cursive;
}
*{
    box-sizing: border-box;
}
header{
    width: auto;
    color: #fad4ae;
    text-align: center;
    font-size: 15px;
    border: 1px solid;
    background-color: #28346d;
}

body{
    background-color: lavender;
}
.column{
    margin: 1%;
    width: auto;
}

hr{
    border-top: 2px solid #fad4ae;
}

h2{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-column{
    margin: 1%;
    width: 30%;
    padding: 50px;
    float: left;
    border: 1px solid #fce9da;
    border-radius: 50px;
    background-color: #fce9da;
}

.level{
    background-color: gainsboro;
    width: 80%;
    text-align: center;
}

.python{
    width: 70%;
    background-color: darkcyan;
}

.java{
    width: 60%;
    background-color: darkgreen;
}

.c{
    width: 80%;
    background-color: darkmagenta;
}

.html{
    width: 50%;
    background-color: darkred;
}

.css{
    width: 45%;
    background-color: darkslategrey;
}

.school{
    font-size: large;
}
.left-column h3{
    text-align: left;
    width:auto; 
    background-color: #fad4ae
}

.right-column{
    margin: 1%;
    width: 65%;
    padding: 10px;
    float: left;
    border: 1px solid #fce9da;
    border-radius: 50px;
    background-color: #fce9da;
}

.right-column h2{
    text-align: left;
    width:auto;
    background-color: #fad4ae ;
}

table{
    border-collapse: collapse;
    margin-left: 20px;
    width: 80%;
    padding: 30px;
}
td ,th{
    font-size: medium;
    border: 2px solid black;
    text-align: center;
    padding: 30px;
}

.contact{
    text-align: center;
    flex-direction: column;
}

.form{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: seashell;
    padding: 20px;
}
.form >input:not([type="submit"]),.form {
    margin: 0 0 20px 0;
}

form > input[type="submit"]{
    width: 20%;
    background-color: lightcoral;
    border: none;
    height: 30px;
    border-radius: 4px;
}
form > input[type="submit"]:hover{
    background-color: palevioletred;
}

@media only screen and(max-width: 600px){
    table {
        width: 70%;
    }

}